<h3><strong>ジャンル一覧・追加</strong></h3>

<%= form_with model: @genre, url: '/genre', method: :post do |f| %>
 <%= render 'shared/errors', model: f.object %>
 <%= f.label :ジャンル名 %>
 <%= f.text_field :name,class:"name" %>
 <%= f.submit '新規登録' %>
<% end %>


<div><strong>ジャンル一覧</strong></div>

  <% @genres.each do |genre| %>
　　<%= genre.name %>
    <%= link_to "編集する", edit_genre_path(genre) %>
    <%= link_to "削除", genre_path(genre),method: :delete %>
  <% end %>
  

