<div class ="title">
 <h3><strong>フードの詳細</strong></h3>
</div>

 フード画像<%= image_tag @food.get_food_image(100,100) %>
 フードの名前<%= @food.name %>
 フードタイプ<%= @type.name %>
 フードジャンル<%= @genre.name %>
 メモ<%= @food.memo %>

<%= link_to "フード一覧に戻る", food_index_path %>
<%= link_to "フードを編集する", edit_food_path(@food.id) %>