<h3><strong>フードタイプ一覧・追加</strong></h3>

<!--<if @genre.errors.any? %>-->
  <!--<= @genre.errors.count %>件のエラーが発生しました-->
    <% @type.errors.full_messages.each do |message| %>
     <%= message %>
    <% end %>
<!--< end %>-->

<%= form_with model: @type, url: '/type', method: :post do |f| %>
 <%= f.label :タイプ %>
 <%= f.text_field :name %>
 <%= f.submit '新規登録' %>
<% end %>


<div><strong>フードタイプ一覧</strong></div>

  <% @types.each do |type| %>
　　<%= type.name %>
    <%= link_to "編集する", edit_type_path(type) %>
    <%= link_to "削除", type_path(type),method: :delete %>
  <% end %>
  