<h3><strong>フードタイプ一覧・追加</strong></h3>

<%= form_with model: @type, url: '/type', method: :post do |f| %>
 <%= render 'shared/errors', model: f.object %>

 <%= f.label :タイプ %>
 <%= f.text_field :name %>
 <%= f.submit '新規登録',class:"btn btn-info" %>
<% end %>


<div><strong>フードタイプ一覧</strong></div>

  <% @types.each do |type| %>
  <div>
    <%= type.name %>
    <%= link_to "編集する", edit_type_path(type), class:"btn btn-primary" %>
    <%= link_to "削除", type_path(type),method: :delete,
      "data-confirm" => "関連するフードの記録も削除されます。本当に削除しますか？", class:"btn btn-danger" %>
   </div>
  <% end %>
  