<div class = "title">
 <h3><strong>記録一覧</strong></h3>
</div>

<div>
<% @records.each do |record| %>
 <%= record.created_at.strftime('%Y/%m/%d') %> 
 ペットの名前<%= record.pet.name %>
 フード名<%= record.food.name %>
<%= link_to "詳細を見る",record_path(record.id) %>
<%= link_to "削除",record_path(record.id),method: :delete %>

<% end %>
</div>

<%= link_to "記録する",new_record_path %>

