<h3><strong>記録する</strong></h3>

<%= form_with model: @record, url: '/record', method: :post do |f| %>

 <div>
   ペットの名前
 </div>
 
 <div>
   フードの名前
 </div>
 
 <div class="form-group">
  <%= f.label :摂取量 %>
  <%= f.select :amount,[["完食","完食"], ["半分","半分"], ["全部残した","全部残した"]], include_blank: "選択して下さい" %>
 </div>
 
 <div class="form-group">
  <%= f.label :メモ %>
  <%= f.text_area :memo %>
 </div>
 
  <%= f.submit '記録する' %>
 
<% end %>