<table class="table table-striped table-light">
 
 <% @pets.each do |pet| %>
 <!--<div class = "row mt-3">-->
    
 <!-- <div class = "col-md-4">-->
 <tr>
 <td><%= image_tag pet.get_pet_image(150,150) %></td>
  <!--</div>-->
    
  <!--<div class = "col-md-4">-->
  <td> 
   <%= pet.name %><br>
   <%= pet.age %>歳<br>
   <%= pet.birthday %>生まれ<br>
   <%= pet.gender_i18n %><br>
   <%= pet.memo %>
  </td>
  
  <!--<div class = "col-md-4">-->
  <td>
   <%= link_to edit_pet_path(pet) do %>
    <%= pet.name %>ちゃんを編集する
   <% end %><br>
   <%= link_to pet_path(pet) do %>
    <%= pet.name %>ちゃんの記録
   <% end %>
  </td>
</tr>
<% end %>
</table>

<div class="fixed_btn">
 <%= link_to new_pet_path, method: :get, class:"btn btn-warning mr-3" do %>
  <i class="fas fa-paw"></i>
　 ウチの子を登録する
　<i class="fas fa-chevron-right"></i>
 <% end %>
</div>